<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--</head>-->
<!--<body>-->
<!--<div>-->
<!--    <p th:text="${currentNews}"></p>-->

<!--    &lt;!&ndash;<p th:text="${currentNews.getNewsObjectList().get(0).getTitle()}">News (Maybe)1</p>-->

<!--    <p th:text="${currentNews.getNewsObjectList().get(0).getDescription()}">News (Maybe)2</p>-->

<!--    <p th:text="${currentNews.getNewsObjectList().get(0).getUrl()}">News (Maybe)3</p>-->

<!--    <p th:text="${currentNews.getNewsObjectList().get(0).getSource()}">News (Maybe)3</p>-->

<!--    <p th:text="${currentNews.getNewsObjectList().get(0).getImage()}">News (Maybe)3</p>-->

<!--    <p th:text="${currentNews.getNewsObjectList().get(0).getCategory()}">News (Maybe)3</p>-->

<!--    <p th:text="${currentNews.getNewsObjectList().get(0).getLanguage()}">News (Maybe)3</p>-->

<!--    <p th:text="${currentNews.getNewsObjectList().get(0).getCountry()}">News (Maybe)3</p>-->

<!--    <p th:text="${currentNews.getNewsObjectList().get(0).getPublishedAt()}">News (Maybe)3</p>&ndash;&gt;-->
<!--</div>-->
<!--</body>-->
<!--</html>-->